<% include head.ejs %>
<div class="container form-horizontal">
    <form >
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" placeholder="标题">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">简介</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" placeholder="简介">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" style="resize: none" id="content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">文章类别</label>
        <div class="col-sm-10">
            <select class="form-control" id="sel">
                <%for(var i=0;i<data.length;i++){%>
                <option value="<%=data[i]._id%>" abc="<%=data[i].name%>"><%=data[i].name%></option>
                <%}%>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a  class="btn btn-default" id="btn">提交</a>
        </div>
    </div>
    </form>
</div>
<script>
    $('#btn').on('click',function () {
        if ($('#inputEmail3').val()===''){
	        $('#inputEmail3').val('标题不能为空').fadeOut().fadeIn().fadeOut().fadeIn();
        } else if ($('#inputPassword3').val()===''){
	        $('#inputPassword3').val('标题不能为空').fadeOut().fadeIn().fadeOut().fadeIn();
        }else if ($('#content').val()===''){
	        $('#content').val('标题不能为空').fadeOut().fadeIn().fadeOut().fadeIn();
        }  else{
        	$.ajax({
                type:'post',
                url:'/admin/articleadd',
                data:{
                	title:$('#inputEmail3').val(),
                    int:$('#inputPassword3').val(),
                    content:$('#content').val(),
                    sel:$('#sel').val(),
                    names:$('#sel').find('option:selected').attr('abc')
                },
                success:function (success) {
                   window.location.reload();
                },
                error:function (error) {
                    console.log(error)
                }
            })
        }
    })
</script>
<% include footer.ejs %>
